// Specific CSS for your home-page
body{
  background-color: $red;
}

.centering-div{
  padding: 20px 0;
  display: flex;
}

.white-container {
  background-color: white;
  min-height: 100vh;
}

.btn-width{
  width: 100%;
}
