<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 green-background">
  <%= image_tag "horse_js.jpeg", class: "avatar-logo" %>
  <div class="user-and-text">
    <p><strong>horse_js</strong></p>
    <p>as much as I want to be, I'm not <%= link_to "@horse_js", "https://twitter.com/horse_js?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  %></p>
  </div>
  <div class="time-info">
    <p>7 days</p>
  </div>
</div>
